@import "reset.scss";
@import "fonts.scss";

$txtclr: #737373;
$hdrclr: #252B42;
$btnclr: #FF7B47;

@mixin flex($dir: row,$wrap: wrap, $alignPosition: center, $justify: space-between) {
    display: flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
    align-items: $alignPosition;
    justify-content: $justify;
}

body{
    font-family: 'Montserrat';
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    font-style: normal;
    color: $txtclr;
    width: 100%;
}

h1{
    font-size: 3.625rem;
    font-weight: 800;
    line-height: 5rem;
    font-style: normal;
    color: $hdrclr;
}

h2{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5625rem;
    font-style: normal;
    color: $hdrclr;
}

h3{
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.1px;
    color: $hdrclr;
}

h4{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: 0.2px;
    color: $txtclr;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 35px 0px;
}

h5{
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1px;
    color: $hdrclr;
}

h6{
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.5rem;
    letter-spacing: 0.2px;
}

a{
    text-decoration: none;
    color: currentColor;

    &:hover{
        opacity: 0.7;
        color: $hdrclr;
        text-decoration: underline;
    }
}

.header{
    background: url(./img/background.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 49.375rem;
}

header{
    margin: auto 3.75rem;
    height: 6.5625rem;
    display: flex;
    align-content: center;
}

nav{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.nav-bar{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    width: 100%;
}

.nav-list{
    width: 55%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.header__wrapper{
    margin: 0 10%;
    height: 700px;

    .header__inner{
        width: 40%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        padding-top: 7.8125rem;

        h3{
            padding: 2.1875rem 0;
        }

        .button{
            &__get{
                width: 187px;
                height: 48px; 
                background: $btnclr;
                border-radius: 37px;  
                color: white;
                font-family: 'Montserrat';
                font-weight: bold;

                &:hover{
                opacity: 0.7;
                cursor: pointer;
                }
            }

            &__learn{
                width: 187px;
                height: 48px; 
                background: transparent;
                border-radius: 37px;  
                color: #0D5C63;
                font-family: 'Montserrat';
                font-weight: bold;

                &:hover{
                opacity: 0.7;
                cursor: pointer;
                }
            }
        }
    }
}


.main__wrapper{
    padding: 10%;
    padding-bottom: 5%;

    .features{
        width: 100%;

        p{
            margin: 3% auto;
        }

        &__container{
            @include flex;

            .block{
                width: 21rem;
                margin: 1%;
                padding: 1%;
                background: #FAFAFA;
                border: 1px solid #E2E2E2;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                &:hover{
                    cursor: pointer;
                    opacity: 0.7;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.849);
                }
                @include flex($justify: flex-start);

                h6{
                    padding-left: 5%;
                }
            }
        }
    }
}

.about{
        background: #FAFAFA;
        &__wrapper{
            padding: 10%;
            padding-bottom: 5%;
        }

        &__title{
            text-align: center;
            margin: 0 25%;
            padding-bottom: 5%;
        }

        &__video{
            @include flex;

            .video{
                border-radius: 10px;
                width: 50%;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        &__video__info{
                width: 40%;
                h2, p{
                    padding-bottom: 5%;
                }
                .videoCard{
                    padding-bottom: 2%;
                    @include flex;
                    img{
                        padding-right: 2%;
                    }
                    div{
                        width: 85%;
                    }
                }
                @include flex($dir: column, $justify: space-evenly, $alignPosition: flex-start);
            }
}

.feedback{
    background: #17213C;
    padding-bottom: 5%;
    &__intro{
        padding: 5% 35%;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        h2{
            color: #FFFFFF;
        }
        p{
            padding: 5% 0;
        }
    }
    &__inner{
        overflow: hidden;
        &__cards{
            width: 120%;
            @include flex($wrap: nowrap, $justify: flex-start);
            div{
                padding: 1%;
                width: 55%;
                @include flex($alignPosition:flex-start, $justify: flex-start);
            }
            .feedback__card{
                padding: 5%;
                @include flex($dir: column, $alignPosition: flex-start);
                background: #FFFFFF;
                .stars{
                    background: #FFFFFF;
                }
            }
        }
    }
    
}

.wrapper{
    padding: 5% 10%;
}

.team{
    background: #FAFAFA;
    &__info{
        text-align: center;
        p{
            margin: 2%;
        }
    }
    &__cards{
        margin: 5% 0;
        @include flex;
        .team__card{
            background: white;
            width: 14.375rem;
            height: 18.125rem;
            padding: 2%;
            text-align: center;
            @include flex($dir: column,);
            h6{color: $btnclr;}
            border-radius: .9375rem;
            -webkit-border-radius: .9375rem;
            -moz-border-radius: .9375rem;
            -ms-border-radius: .9375rem;
            -o-border-radius: .9375rem;
            &:hover{box-shadow: 1px 1px 5px grey;}
        }
    }
}

.contact{
    background: #252B42;
    &__info{
        display: flex;
        justify-content: space-between;
        color: white;
        h2{color: white;}
        .contact__inner{
            div{
                width: 60%;
                p{margin: 3% 0;}
            }
            width: 60%;
        }
    }
    &__form{
        display: flex;
        background: #FFFFFF;
        form{
            width: 100%;
            .form__inner{
                padding:  0 5%;
                height: 40.25rem;
                .form__content{
                    width: 100%;
                    div{
                        width: 100%;
                        padding: 10px 0;
                        input, select{
                            width: 100%;
                            height: 3.125rem;
                            border: 1px solid #BDBDBD;
                            border-radius: 5px;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                            background: #F9F9F9;
                        }
                    }
                    
                }
                button{
                    background: $btnclr;
                    color: white;
                    border-radius: 5px;
                    border: 1px solid $btnclr;
                    height: 3.75rem;
                    width: 100%;
                    &:hover{
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
                @include flex($dir: column, $alignPosition: flex-start, $justify: space-evenly);
            }
        }
    }
}

.footer{
    .footer__content{
        @include flex;
        &-links{
            height: 250px;
            .social{
                width: 50%;
                img{padding: 2%;
                &:hover{cursor: pointer;}
                }
            }
            @include flex($dir: column, $alignPosition: flex-start, $justify: space-evenly);
        }
    }
}

footer{
    background: #FAFAFA;
    text-align: center;
    h6{padding: 2%;}
}